In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
logs = pd.read_csv("projet_notes/logs.csv")
notes = pd.read_csv("projet_notes/notes.csv")

In [3]:
logs.head()

,heure,pseudo,contexte,composant,evenement
0,2023-12-15 11:04:49,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
1,2023-12-15 13:44:53,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
2,2023-12-15 17:01:29,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
3,2023-12-20 09:02:55,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
4,2023-12-20 09:26:59,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée

In [4]:
notes.head()

   pseudo note
0     257    8
1     573    3
2     585   11
3     626    9
4      66    9

In [5]:
print("logs :", logs.shape)
print("notes :", notes.shape)

logs : (29006, 5)
notes : (80, 2)

In [6]:
print('\nNull Values \n{}'.format(logs.isnull().sum()))

Null Values
heure        0
pseudo       0
contexte     0
composant    0
evenement    0
dtype: int64

In [7]:
print('\nNull Values \n{}'.format(notes.isnull().sum()))

Null Values
pseudo    0
note      0
dtype: int64

In [8]:
logs.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
heure,29006,20160,2024-05-15 15:17:05,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pseudo,29006.0,NaN,NaN,NaN,454.573295,260.451957,5.0,225.0,454.0,649.0,1000.0
contexte,29006,46,Cours: L3 MIAGE : Compilation (23-24),8254,NaN,NaN,NaN,NaN,NaN,NaN,NaN
composant,29006,17,Système,12067,NaN,NaN,NaN,NaN,NaN,NaN,NaN
evenement,29006,61,Module de cours consulté,9567,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
notes.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
pseudo,80.0,NaN,NaN,NaN,457.9375,271.364734,5.0,221.0,461.5,669.25,1000.0
note,80,19,2,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
logs

,heure,pseudo,contexte,composant,evenement
0,2023-12-15 11:04:49,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
1,2023-12-15 13:44:53,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
2,2023-12-15 17:01:29,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
3,2023-12-20 09:02:55,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
4,2023-12-20 09:26:59,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
...,...,...,...,...,...
29001,2024-12-14 09:49:44,425,Cours: L3 MIAGE : Compilation (23-24),Système,Cours consulté
29002,2024-12-14 09:51:04,425,Cours: L3 MIAGE : Compilation (23-24),Système,Cours consulté
29003,2024-12-14 09:52:50,425,Questionnaire: Questionnaire,Questionnaire,Module de cours consulté
29004,2024-12-14 10:04:56,425,Cours: L3 MIAGE : Compilation (23-24),Système,Cours consulté
29005,2024-12-14 10:08:07,425,Cours: L3 MIAGE : Compilation (23-24),Journaux,Journal consulté

In [11]:
logs.groupby('composant').size().reset_index(name='count')

                  composant  count
0       Affichage simplifié     23
1   Bloc-notes collaboratif    416
2              Commentaires      3
3                    Devoir   4139
4   Feuille de calcul Excel      1
5                   Fichier   6537
6                     Forum    274
7                  Journaux      1
8                  Présence   4279
9             Questionnaire    558
10  Rapport de l’évaluateur     24
11   Rapport du participant    207
12       Rapport d’ensemble      7
13      Remises de fichiers    376
14                  Système  12067
15          Visites guidées      6
16                  Wooclap     88

In [12]:
logs.groupby('evenement').size().reset_index(name='count')

                           evenement  count
0                    Abonnement créé     81
1      Achèvement d’activité modifié   4023
2                 Capacité attribuée      1
3    Catégorie de question consultée      1
4                   Commentaire créé      3
..                               ...    ...
56         Élément d’évaluation créé     13
57      Élément d’évaluation modifié     29
58      Événement de calendrier créé     42
59   Événement de calendrier modifié     17
60  Événement de calendrier supprimé      2

[61 rows x 2 columns]

In [13]:
logs.groupby('contexte').size().reset_index(name='count')

                                             contexte  count
0   Bloc-notes collaboratif: Composition de votre ...    418
1               Cours: L3 MIAGE : Compilation (23-24)   8254
2   Devoir: Espace de dépôt : Exercice #4 (Assembl...    471
3   Devoir: Espace de dépôt de l'activité "Cahier ...    773
4   Devoir: Espace de dépôt de l'exercice de prise...    765
5            Devoir: Espace de dépôt de l'étape #2...    608
6   Devoir: Espace de dépôt du rapport de l'étape ...    818
7   Devoir: dépôt Exercice#4 assembleur (condition...   1332
8                           Fichier: Analyse lexicale    331
9               Fichier: Analyse syntaxique (Parsing)    238
10                           Fichier: Assembleur BETA    611
11                                       Fichier: CUP    401
12                   Fichier: CUP + Java : Expression    309
13             Fichier: Code xml à ajouter au pom.xml    334
14  Fichier: Code à ajouter dans pom.xml pour Cup ...    235
15  Fichier: Correction : Analyseur syntaxique d'u...    123
16  Fichier: Correction : Evaluation d'une express...    120
17  Fichier: Correction TD Arbre et Génération Exp...    288
18       Fichier: Correction de l'exercice Word Count    105
19                      Fichier: Ecrire une grammaire    216
20                         Fichier: Etape#2 : Parsing    363
21                        Fichier: Génération de code    459
22                              Fichier: Introduction    358
23                 Fichier: Langages de programmation    326
24                               Fichier: Manuel Beta    272
25                                Fichier: Manuel CUP    259
26                              Fichier: Manuel JFlex    217
27                 Fichier: Manuel d'utilisation BSIM    296
28       Fichier: Manuel de référence Assembleur BETA    351
29                 Fichier: Manuel de référence JFlex    190
30                           Fichier: Polycopié : CUP    242
31                    Fichier: Polycopié : CUP + JAVA    289
32                      Fichier: Rapport + Soutenance    269
33   Fichier: Ressources à télécharger : l'outil bsim    327
34                       Fichier: Sujet DS avril 2023    375
35         Fichier: Sujet Etape#1: génération de code    858
36                           Fichier: Sujet du projet    551
37         Fichier: TD : Prise en main de l'API Arbre    627
38     Fichier: Version txt du fichier xml ci-dessus:    116
39                                Fichier: intio.uasm    207
40                                    Forum: Annonces      1
41              Forum: Forum pour poser vos questions    275
42                                 Présence: Présence   4280
43                      Questionnaire: Equipes Projet    268
44                       Questionnaire: Questionnaire    391
45                          Wooclap: Quizz Assembleur     89