In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
logs = pd.read_csv("projet_notes/logs.csv", parse_dates=['heure'])
notes = pd.read_csv("projet_notes/notes.csv")

# LOGS

In [4]:
logs.head()

,heure,pseudo,contexte,composant,evenement
0,2023-12-15 11:04:49,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
1,2023-12-15 13:44:53,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
2,2023-12-15 17:01:29,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
3,2023-12-20 09:02:55,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
4,2023-12-20 09:26:59,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée

In [5]:
notes.head()

   pseudo note
0     257    8
1     573    3
2     585   11
3     626    9
4      66    9

In [6]:
print("logs :", logs.shape)
print("notes :", notes.shape)

logs : (29006, 5)
notes : (80, 2)

In [7]:
print('\nNull Values \n{}'.format(logs.isnull().sum()))

Null Values
heure        0
pseudo       0
contexte     0
composant    0
evenement    0
dtype: int64

In [8]:
print('\nNull Values \n{}'.format(notes.isnull().sum()))

Null Values
pseudo    0
note      0
dtype: int64

In [31]:
logs.describe(include="all").T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
heure,27771,NaN,NaN,NaN,2024-02-23 16:27:58.541896192,2024-01-07 13:41:39,2024-01-23 22:32:06.500000,2024-02-14 14:05:14,2024-03-19 17:37:59,2024-10-01 13:56:49,NaN
pseudo,27771.0,NaN,NaN,NaN,455.805877,5.0,225.0,458.0,649.0,1000.0,263.325231
composant,27771,13,Système,11134,NaN,NaN,NaN,NaN,NaN,NaN,NaN
evenement,27771,27,Module de cours consulté,9484,NaN,NaN,NaN,NaN,NaN,NaN,NaN
contexte_general,27771,8,Fichier,10201,NaN,NaN,NaN,NaN,NaN,NaN,NaN
specification,27771,45,L3 MIAGE : Compilation (23-24),7347,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jour,27771,NaN,NaN,NaN,2024-02-23 01:54:35.661661184,2024-01-07 00:00:00,2024-01-23 00:00:00,2024-02-14 00:00:00,2024-03-19 00:00:00,2024-10-01 00:00:00,NaN
heures,27771,15593,16:16:56,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
notes.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
pseudo,80.0,NaN,NaN,NaN,457.9375,271.364734,5.0,221.0,461.5,669.25,1000.0
note,80,19,2,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
logs

,heure,pseudo,contexte,composant,evenement
0,2023-12-15 11:04:49,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
1,2023-12-15 13:44:53,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
2,2023-12-15 17:01:29,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
3,2023-12-20 09:02:55,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
4,2023-12-20 09:26:59,744,Cours: L3 MIAGE : Compilation (23-24),Système,Sauvegarde de cours créée
...,...,...,...,...,...
29001,2024-12-14 09:49:44,425,Cours: L3 MIAGE : Compilation (23-24),Système,Cours consulté
29002,2024-12-14 09:51:04,425,Cours: L3 MIAGE : Compilation (23-24),Système,Cours consulté
29003,2024-12-14 09:52:50,425,Questionnaire: Questionnaire,Questionnaire,Module de cours consulté
29004,2024-12-14 10:04:56,425,Cours: L3 MIAGE : Compilation (23-24),Système,Cours consulté
29005,2024-12-14 10:08:07,425,Cours: L3 MIAGE : Compilation (23-24),Journaux,Journal consulté

In [12]:
logs.groupby('composant').size().reset_index(name='count')

                  composant  count
0       Affichage simplifié     23
1   Bloc-notes collaboratif    416
2              Commentaires      3
3                    Devoir   4139
4   Feuille de calcul Excel      1
5                   Fichier   6537
6                     Forum    274
7                  Journaux      1
8                  Présence   4279
9             Questionnaire    558
10  Rapport de l’évaluateur     24
11   Rapport du participant    207
12       Rapport d’ensemble      7
13      Remises de fichiers    376
14                  Système  12067
15          Visites guidées      6
16                  Wooclap     88

In [13]:
logs.groupby('evenement').size().reset_index(name='count')

                           evenement  count
0                    Abonnement créé     81
1      Achèvement d’activité modifié   4023
2                 Capacité attribuée      1
3    Catégorie de question consultée      1
4                   Commentaire créé      3
..                               ...    ...
56         Élément d’évaluation créé     13
57      Élément d’évaluation modifié     29
58      Événement de calendrier créé     42
59   Événement de calendrier modifié     17
60  Événement de calendrier supprimé      2

[61 rows x 2 columns]

In [14]:
logs.groupby('contexte').size().reset_index(name='count')

                                             contexte  count
0   Bloc-notes collaboratif: Composition de votre ...    418
1               Cours: L3 MIAGE : Compilation (23-24)   8254
2   Devoir: Espace de dépôt : Exercice #4 (Assembl...    471
3   Devoir: Espace de dépôt de l'activité "Cahier ...    773
4   Devoir: Espace de dépôt de l'exercice de prise...    765
5            Devoir: Espace de dépôt de l'étape #2...    608
6   Devoir: Espace de dépôt du rapport de l'étape ...    818
7   Devoir: dépôt Exercice#4 assembleur (condition...   1332
8                           Fichier: Analyse lexicale    331
9               Fichier: Analyse syntaxique (Parsing)    238
10                           Fichier: Assembleur BETA    611
11                                       Fichier: CUP    401
12                   Fichier: CUP + Java : Expression    309
13             Fichier: Code xml à ajouter au pom.xml    334
14  Fichier: Code à ajouter dans pom.xml pour Cup ...    235
15  Fichier: Correction : Analyseur syntaxique d'u...    123
16  Fichier: Correction : Evaluation d'une express...    120
17  Fichier: Correction TD Arbre et Génération Exp...    288
18       Fichier: Correction de l'exercice Word Count    105
19                      Fichier: Ecrire une grammaire    216
20                         Fichier: Etape#2 : Parsing    363
21                        Fichier: Génération de code    459
22                              Fichier: Introduction    358
23                 Fichier: Langages de programmation    326
24                               Fichier: Manuel Beta    272
25                                Fichier: Manuel CUP    259
26                              Fichier: Manuel JFlex    217
27                 Fichier: Manuel d'utilisation BSIM    296
28       Fichier: Manuel de référence Assembleur BETA    351
29                 Fichier: Manuel de référence JFlex    190
30                           Fichier: Polycopié : CUP    242
31                    Fichier: Polycopié : CUP + JAVA    289
32                      Fichier: Rapport + Soutenance    269
33   Fichier: Ressources à télécharger : l'outil bsim    327
34                       Fichier: Sujet DS avril 2023    375
35         Fichier: Sujet Etape#1: génération de code    858
36                           Fichier: Sujet du projet    551
37         Fichier: TD : Prise en main de l'API Arbre    627
38     Fichier: Version txt du fichier xml ci-dessus:    116
39                                Fichier: intio.uasm    207
40                                    Forum: Annonces      1
41              Forum: Forum pour poser vos questions    275
42                                 Présence: Présence   4280
43                      Questionnaire: Equipes Projet    268
44                       Questionnaire: Questionnaire    391
45                          Wooclap: Quizz Assembleur     89

In [15]:
logs = logs[logs["pseudo"].isin(notes["pseudo"])]
logs.head()

,heure,pseudo,contexte,composant,evenement
335,2024-01-07 13:41:39,525,Questionnaire: Questionnaire,Questionnaire,Module de cours consulté
336,2024-01-07 13:41:53,525,Questionnaire: Questionnaire,Questionnaire,Module de cours consulté
356,2024-01-07 20:48:57,311,Questionnaire: Questionnaire,Questionnaire,Module de cours consulté
357,2024-01-07 20:49:04,311,Questionnaire: Questionnaire,Questionnaire,Module de cours consulté
358,2024-01-07 20:49:17,311,Questionnaire: Questionnaire,Questionnaire,Module de cours consulté

In [16]:
logs.shape

(27771, 5)

In [17]:
logs[["contexte_general", "specification"]] = logs["contexte"].str.split(":", n=1, expand=True)
logs.head()

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_15148\827243699.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  logs[["contexte_general", "specification"]] = logs["contexte"].str.split(":", n=1, expand=True)
C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_15148\827243699.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  logs[["contexte_general", "specification"]] = logs["contexte"].str.split(":", n=1, expand=True)

,heure,pseudo,contexte,composant,evenement,contexte_general,specification
335,2024-01-07 13:41:39,525,Questionnaire: Questionnaire,Questionnaire,Module de cours consulté,Questionnaire,Questionnaire
336,2024-01-07 13:41:53,525,Questionnaire: Questionnaire,Questionnaire,Module de cours consulté,Questionnaire,Questionnaire
356,2024-01-07 20:48:57,311,Questionnaire: Questionnaire,Questionnaire,Module de cours consulté,Questionnaire,Questionnaire
357,2024-01-07 20:49:04,311,Questionnaire: Questionnaire,Questionnaire,Module de cours consulté,Questionnaire,Questionnaire
358,2024-01-07 20:49:17,311,Questionnaire: Questionnaire,Questionnaire,Module de cours consulté,Questionnaire,Questionnaire

In [18]:
logs.shape

(27771, 7)

In [19]:
logs = logs.drop(["contexte"], axis=1)
logs.head()

,heure,pseudo,composant,evenement,contexte_general,specification
335,2024-01-07 13:41:39,525,Questionnaire,Module de cours consulté,Questionnaire,Questionnaire
336,2024-01-07 13:41:53,525,Questionnaire,Module de cours consulté,Questionnaire,Questionnaire
356,2024-01-07 20:48:57,311,Questionnaire,Module de cours consulté,Questionnaire,Questionnaire
357,2024-01-07 20:49:04,311,Questionnaire,Module de cours consulté,Questionnaire,Questionnaire
358,2024-01-07 20:49:17,311,Questionnaire,Module de cours consulté,Questionnaire,Questionnaire

In [20]:
logs.shape

(27771, 6)

In [21]:
logs["jour"] = logs["heure"].dt.date
logs["heures"] = logs["heure"].dt.time
logs.head()

,heure,pseudo,composant,evenement,contexte_general,specification,jour,heures
335,2024-01-07 13:41:39,525,Questionnaire,Module de cours consulté,Questionnaire,Questionnaire,2024-01-07,13:41:39
336,2024-01-07 13:41:53,525,Questionnaire,Module de cours consulté,Questionnaire,Questionnaire,2024-01-07,13:41:53
356,2024-01-07 20:48:57,311,Questionnaire,Module de cours consulté,Questionnaire,Questionnaire,2024-01-07,20:48:57
357,2024-01-07 20:49:04,311,Questionnaire,Module de cours consulté,Questionnaire,Questionnaire,2024-01-07,20:49:04
358,2024-01-07 20:49:17,311,Questionnaire,Module de cours consulté,Questionnaire,Questionnaire,2024-01-07,20:49:17

In [22]:
logs.shape

(27771, 8)

In [23]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27771 entries, 335 to 28993
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   heure             27771 non-null  datetime64[ns]
 1   pseudo            27771 non-null  int64
 2   composant         27771 non-null  object
 3   evenement         27771 non-null  object
 4   contexte_general  27771 non-null  object
 5   specification     27771 non-null  object
 6   jour              27771 non-null  object
 7   heures            27771 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 1.9+ MB

In [24]:
logs["jour"] = pd.to_datetime(logs["jour"])
logs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27771 entries, 335 to 28993
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   heure             27771 non-null  datetime64[ns]
 1   pseudo            27771 non-null  int64
 2   composant         27771 non-null  object
 3   evenement         27771 non-null  object
 4   contexte_general  27771 non-null  object
 5   specification     27771 non-null  object
 6   jour              27771 non-null  datetime64[ns]
 7   heures            27771 non-null  object
dtypes: datetime64[ns](2), int64(1), object(5)
memory usage: 1.9+ MB

In [25]:
logs.groupby('contexte_general').size().reset_index(name='count')

          contexte_general  count
0  Bloc-notes collaboratif    389
1                    Cours   7347
2                   Devoir   4707
3                  Fichier  10201
4                    Forum    171
5                 Présence   4231
6            Questionnaire    640
7                  Wooclap     85

In [26]:
logs.groupby('specification').size().reset_index(name='count')

                                        specification  count
0                                    Analyse lexicale    330
1                        Analyse syntaxique (Parsing)    237
2                                     Assembleur BETA    607
3                                                 CUP    397
4                             CUP + Java : Expression    305
5                       Code xml à ajouter au pom.xml    330
6        Code à ajouter dans pom.xml pour Cup & JFLex    234
7                  Composition de votre équipe projet    389
8    Correction : Analyseur syntaxique d'une expre...    122
9    Correction : Evaluation d'une expression de c...    119
10      Correction TD Arbre et Génération Expressioon    287
11                Correction de l'exercice Word Count    104
12                               Ecrire une grammaire    215
13                                     Equipes Projet    260
14         Espace de dépôt : Exercice #4 (Assembleur)    466
15   Espace de dépôt de l'activité "Cahier des cha...    769
16   Espace de dépôt de l'exercice de prise en mai...    761
17                   Espace de dépôt de l'étape #2...    586
18   Espace de dépôt du rapport de l'étape #1 du p...    794
19                                  Etape#2 : Parsing    361
20                     Forum pour poser vos questions    171
21                                 Génération de code    458
22                                       Introduction    354
23                     L3 MIAGE : Compilation (23-24)   7347
24                          Langages de programmation    325
25                                        Manuel Beta    271
26                                         Manuel CUP    253
27                                       Manuel JFlex    216
28                          Manuel d'utilisation BSIM    295
29                Manuel de référence Assembleur BETA    347
30                          Manuel de référence JFlex    186
31                                    Polycopié : CUP    241
32                             Polycopié : CUP + JAVA    285
33                                           Présence   4231
34                                      Questionnaire    380
35                                   Quizz Assembleur     85
36                               Rapport + Soutenance    268
37            Ressources à télécharger : l'outil bsim    326
38                                Sujet DS avril 2023    374
39                  Sujet Etape#1: génération de code    857
40                                    Sujet du projet    550
41                  TD : Prise en main de l'API Arbre    626
42              Version txt du fichier xml ci-dessus:    115
43       dépôt Exercice#4 assembleur (conditionnelle)   1331
44                                         intio.uasm    206

In [27]:
logs.groupby('evenement').size().reset_index(name='count')

                                           evenement  count
0                      Achèvement d’activité modifié   4006
1                                   Commentaire créé      3
2   Confirmation de suppression de travail consultée     11
3                                     Cours consulté   6921
4                               Discussion consultée    106
5                                     Fichier déposé    188
6                      Formulaire de remise consulté    233
7                     Liste d’utilisateurs consultée     68
8                           Module de cours consulté   9484
9                        Profil utilisateur consulté     15
10                           Questionnaire poursuivi      1
11                              Questionnaire soumis    100
12             Rapport de cours utilisateur consulté     36
13                       Rapport de session consulté   3039
14       Rapport des réponses individuelles consulté     69
15                       Rapport d’ensemble consulté      6
16         Rapport d’évaluation utilisateur consulté    207
17       Statut de présence renseigné par l’étudiant   1192
18                         Statut du travail modifié     10
19                  Statut du travail remis consulté   1596
20                            Travail de devoir créé    167
21                         Travail de devoir modifié     21
22                           Travail de devoir remis    188
23                           Travail remis supprimé.     10
24                                Utilisateur évalué     88
25                           Visite guidée commencée      3
26                            Visite guidée terminée      3

# NOTES

In [28]:
notes.head()

   pseudo note
0     257    8
1     573    3
2     585   11
3     626    9
4      66    9

In [29]:
notes.describe(include='all')

             pseudo note
count     80.000000   80
unique          NaN   19
top             NaN    2
freq            NaN    9
mean     457.937500  NaN
std      271.364734  NaN
min        5.000000  NaN
25%      221.000000  NaN
50%      461.500000  NaN
75%      669.250000  NaN
max     1000.000000  NaN

In [30]:
notes.shape

(80, 2)